body{
font-family: Arial;
margin:0;
background:#f4f6fb;
}

header{
background:#0b4ea2;
color:white;
text-align:center;
padding:40px;
}

.logo{
width:120px;
}

nav{
background:#083b7c;
display:flex;
justify-content:center;
flex-wrap:wrap;
}

nav a{
color:white;
padding:15px 20px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
background:#0b4ea2;
}

.menu{
max-width:900px;
margin:auto;
padding:40px 20px;
}

.menu h2{
color:#0b4ea2;
margin-bottom:20px;
}

.item{
display:flex;
justify-content:space-between;
padding:10px 0;
border-bottom:1px solid #ddd;
font-size:18px;
}

.mapa{
text-align:center;
padding:40px;
}

iframe{
width:90%;
height:300px;
border:none;
border-radius:10px;
}

.boton-llamar{
display:inline-block;
margin-top:20px;
padding:15px 25px;
background-color:#d62828;
color:white;
font-size:20px;
text-decoration:none;
border-radius:10px;
}

.boton-llamar:hover{
background-color:#a61e1e;
}
footer{
background:#0b4ea2;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
